.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
}
.inner {
    width: 100%;
    height: 100%;
    max-width: var(--default-layout-width);
    padding-right: 24px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .logo {
// }
.search-result {
    width: 361px;
}
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.search {
    position: relative;
    display: flex;
    min-width: 200px;
    width: 361px;
    height: 100%;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    border: 1.5px solid transparent;
    input {
        caret-color: var(--primary);
        flex: 1;
        height: 100%;
        color: var(--black);
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~ .search-btn {
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.clear,
.loading {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.35);
}

.search-btn {
    cursor: pointer;
    border: 0;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
    svg {
        font-size: 1.8rem;
        color: #4d4f57;
    }
    &::before {
        margin: 16px -12px;
        top: 0;
        content: '';
        position: absolute;
        height: 28px;
        width: 2px;
        background: rgba(22, 24, 35, 0.2);
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
